# By convention you’d set *_GLOBAL vars on the organisation level in
# your CI/CD and others would be repository–specific.

LICENSE_CHECK_ALLOW_LICENSES_GLOBAL="
# https://spdx.org/licenses/

ISC
MIT
MIT-0
"

LICENSE_CHECK_ALLOW_LICENSES=""

LICENSE_CHECK_ALLOW_LICENSES_DEV_GLOBAL=""
LICENSE_CHECK_ALLOW_LICENSES_DEV=""

LICENSE_CHECK_EXCLUDE_PACKAGES_GLOBAL="
# LGPL-3.0-or-later, used in Next.js at build time
@img/sharp-libvips-*
"

LICENSE_CHECK_EXCLUDE_PACKAGES=""

LICENSE_CHECK_EXCLUDE_PACKAGES_DEV_GLOBAL="
# Licensed under MPL-2.0
axe-core
"

LICENSE_CHECK_EXCLUDE_PACKAGES_DEV=""

LICENSE_CHECK_CLARIFICATIONS='
{
  "optimist@<=0.6.1": {
    "//": "package.json specifies “MIT/X11”",
    "licenses": "MIT OR X11",
    "licenseFile": "LICENSE"
  },
  "JSONStream@0.8.0": {
    "//": "Missing “license” in package.json, but there’s LICENSE file",
    "licenses": "MIT OR Apache-2.0",
    "licenseFile": "LICENSE.MIT,LICENSE.APACHE2"
  },
  "rgb@0.1.0": {
    "//": "package.json specifies “MIT (http://mootools.net/license.txt)”",
    "licenses": "MIT"
  },
  "qrcode-terminal@0.12.0": {
    "//": "package.json specifies “Apache 2.0” (space instead of hyphen)",
    "licenses": "Apache-2.0",
    "licenseFile": "LICENSE"
  }
}
'
